.jogo{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.iniciar{
    color: white;
    background-color: rgb(35, 172, 35);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 170px;
    margin:100px 200px;
    font-size: 15px;
    font-weight: 600;
}

.palavra{
    margin: 200px;
    font-size: 50px;
    font-weight: 800;
}

.teclado{
    height: 120px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin:50px 300px;
}

.botaoTeclado{
    
    width: 45px;
    height: 45px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

.botao{
    background-color: rgb(198, 220, 235);
    color:rgb(8, 132, 221);
}

.botaoClicado{
    color: rgb(61, 63, 65);
    background-color:rgb(87, 87, 87);
}

.verde{
    color: green;
}

.vermelho{
    color:red;
}